<div class="mx-auto" style="max-width: 50%;">
  <img src="http://www.mantrisquare.com/images/shop-mascots.png" class="img-fluid" alt="Responsive image">

</div>
<h1>Login</h2>

<% if flash[:error] != nil %>
  <p><b>Error:</b> <%= flash[:error] %></p>
<% end %>

  <%= form_with url: '/sessions' do |f| %>
    <%= f.text_field :email, placeholder: "email" %>
    <%= f.password_field :password, placeholder: "password" %>
    <%= f.submit 'Login'%>
  <% end %>
  <br>
  <%= link_to "Sign up", signup_path %>
</div>
