<h1>Welcome, <%= @user.full_name %>!</h1>

<img src="<%= @user.image_url %>" alt="<%= @user.username %>'s picture">

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Credit Card Number:</strong>
  <%= @user.credit_card_number %>
</p>
<p>
  <strong>Has a store:</strong>
  <%= @user.is_seller ? "Yes" : "No" %>
</p>
<strong><%= link_to 'Edit User Account', edit_user_path(@user) %></strong>
<br>
<% if @user.is_seller == true %>
  <h2>Inventory</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <% @user.inventory.products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= product.description %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Delete', product_path(product), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
<br>
