<h1>Your Cart</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.cart.cart_products.each do |cart_product| %>
    <tr>
        <td><img src="<%= cart_product.product.image_url %>" alt="<%= cart_product.product.name %>"></td>
        <td><%= link_to cart_product.product.name, product_path(cart_product.product) %></td>
        <td><%= @user.email %></td>
        <td><%= cart_product.product.seller.email %></td>
        <td><%= number_to_currency(cart_product.product.price) %></td>
        <td><%= cart_product.quantity %></td>
        <td><%= number_to_currency(cart_product.quantity * cart_product.product.price.to_f.round(2)) %></td>
        <td><%= link_to 'Delete', cart_product_path(cart_product), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><b>Subtotal: </b><%= number_to_currency(@cart.total_price) %></td>
  <td></td>
  <td></td>

</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%= button_to 'Checkout', checkout_path %>
  <td></td>
  <td></td>

</td>
</tr>
</table>
