<%= link_to 'Go Back to Products', products_path %>

<div class='container'>
  <table>
  <caption>Your Cart</caption>
  <thead>
    <tr>
      <th>Product</th>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total price</th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  <thead>

    <tbody>
      <% @user.cart.cart_products.each do |cart_product| %>
      <tr>
          <td><%= link_to cart_product.product.name, product_path(cart_product.product) %></td>
          <td><%= @user.email %></td>
          <td><%= cart_product.product.seller.email %></td>
          <td><%= cart_product.product.price %></td>
          <td><%= cart_product.quantity %></td>
          <td><%= cart_product.quantity * cart_product.product.price.to_f.round(2) %></td>
          <!-- <td><%= link_to 'Edit', edit_cart_product_path(cart_product) %></td> -->
          <td><%= link_to 'Delete', cart_product_path(cart_product), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
    <br>
    <tr></tr>
    <tr>
      <td><b>Subtotal: </b><%= number_to_currency(@cart.total_price) %></td>
    </tr>
  </table>
  <%= button_to 'Checkout', checkout_path %>

</div>
