<h1><%= @product.name %></h1>

<%= form_for @product do |f| %>
  <%= f.hidden_field :seller_id, value: @user.id %>
  <%= f.hidden_field :inventory_id, value: @user.inventory.id %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br>
  <%= f.label :quantity %><br>
  <%= f.number_field :quantity %><br>
  <%= f.label :price %><br>
  <%= f.number_field :price, step: :any %><br>
  <%= f.label :image_url %><br>
  <%= f.text_field :image_url %><br>

  <%= f.submit %>

<% end %>
