<h1>All products our site has to offer!</h1><br>

<% @products.each do |product| %>
<li>
  <%= link_to product.name, product_path(product) %><br>
  $<%= product.price %><br>
  <%= product.description %><br>
  For sale by:<%= link_to product.seller.username, users_path(product.seller) %><br>
  <img src="<%= product.image_url %>" alt="<%= product.name %>"><br>
</li><br>

<% end %>
